logs
*.log
npm-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

*.pid
*.seed
*.pid.lock

lib-cov
coverage
*.lcov
.nyc_output

node_modules/
typings/
*.tsbuildinfo
.npm
.eslintcache
.node_repl_history
.env
.env.test
.cache
.DS_Store

data
